@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: rgb(15, 79, 124);
    --color-primary-dull: rgb(13, 65, 102);
}

/* * {
    font-family: 'Outfit';
} */